section{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #010101;
}
.about{
    width: 300px;
    height: 500px;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}